<div class="form-row">
	<div class="form-group">
	    <label>Your Dog's Name</label>
	    <input type="text" class="dognameinput" placeholder="Enter Dog's Breed Here" name="dog[name]" class="form-control">
	</div>
</div>

<div class="form-row">
    <div class="form-group">
        <label>Your Dog's Breed</label>
        <input type="text" class="dogbreedinput" placeholder="Enter Dog's Breed Here" name="dog[breed]" class="form-control">
    </div>
</div>

<div class= "form-row">
	 <div class="form-group">
		<label>Your Dog's Age</label>
		<input type="text " class="dogageinput" placeholder="Enter Dog 's Age Here" name = "dog[age]" class="form-control">
	</div>
</div>

<div class="form-row">
	<div class="form-group">
	<label>Describe your dog's personality</label>
		<textarea class="dogpersonalityinput" placeholder="Describe Your Dog's Personality Here." rows="3" class="form-control" name = "dog[personality]"></textarea>
	</div>
</div>

<div class="form-row">
	<div class="form-group">
	<label>How well does your dog interact with strangers?</label>
		<textarea class="dogstrangerinput" placeholder="Describe Your Dog's Behaviors Here." rows="3" class="form-control" name = "dog[behaviourWithStrangers]"></textarea>
	</div>
</div>

<div class="form-row">
	<div class="form-group">
	<label>Is Your Dog A Therapy Dog?</label>
		<div class = "container">
			 <input class="dogtherapyinput1" type="radio" name="dog[isTherapyDog]" value="true"> Yes
		  	 <input class="dogtherapyinput2" type="radio" name="dog[isTherapyDog]" value="false"> No
		 </div>
	 </div>
</div>
