 <div class = "modal" id = "login">
    <form  method = "POST" class= "modal-content animate form-inline" id="logInterface">
    	<div class="form-group">
		      <label style="margin-bottom: -1%;" for= "username"><b>Username</b></label>
		      <input id="username" type="text" placeholder="Enter Username" name="uname" required>

		      <label style="margin-bottom: -1%;" for="pwd"><b>Password</b></label>
		      <input id="password" type="password" placeholder="Enter Password" name="pwd" required>

		      <button type="submit" id="login">Login</button>

		      <div id = "register">
		      	<h5><center><a href="/register">Register </a></center></h4>
		      </div>
  		</div>
	</form>
</div>

<script src = "/socket.io/socket.io.js"> </script>

<script>


$(`button #login`).on('click', function(event){
          var socket = io.connect("localhost:8000");
          socket.on('connect', function() {
                    //socket authentication for login attempts. Post request for register.
                    socket.emit('LOGIN_ATTEMPT',{'username': document.getElementById('username').value,
                                                                         'password': document.getElementById('password').value});
         });
         socket.on('LOGIN_RESPONSE',(result)=>{
                   if (result.authorized == true){
                             $('div#login').css('display','none');
                             //TODO HANIF: handle what happens when user enter correct pw here.
                   }else{
                             if ( result.userNotFound == true){
                                       alert('No such user.')
                                        //TODO HANIF: handle what happens when user  not found.
                             }else{
                                       alert('password incorrect.')
                                        //TODO HANIF: handle what happens when user enter WRONG pw here.
                             }

                   }
         })

});
</script>
