 <div class = "modal" id = "login">
    <form class= "modal-content animate form-inline" id="logInterface" action="#">
    	<div class="form-group">
		      <label for= "username"><b>Username</b></label>
		      <input type="text" placeholder="Enter Username" name="username" required>

		      <label for="pwd"><b>Password</b></label>
		      <input type="password" placeholder="Enter Password" name="pwd" required>

		      <button type="submit" id="login">Login</button>

		      <div id = "register">
		      	<h5><a href="#">register</a></h5>
		      </div>
  		</div>
	</form>
</div>