<% include ./partials/header.ejs %>


 <div class="card hovercard">
        <div class="card-background">
            <img class="card-bkimg" alt="" src="">
        </div>
        <div class="useravatar text-center img-circle">
            <img alt="" src="../public/Dogs/samoyed-puppy.jpg">
        </div>
        <div class="card-info"> <span class="card-title"><%= dog.name %></span>

        </div>
</div>



	<div class="main main-raised">
		<div class="section section-basic">
	    	<div class="container">
	            <div class="row">
	            	<div class="col-md-9">
	            		<h2>Doggos</h2>
			            <div class="row">
			            	<div class="col-md-3">
			            		<img class="img-rounded img-responsive img-raised" src="https://unsplash.it/400?random&sig=0">
			            		<a href="#"><button class="like btn btn-fab btn-fab-mini btn-round btn-blue"><i class="material-icons">favorite</i></button></a>
			            	</div>

			            	<div class="col-md-3">
			            		<img class="img-rounded img-responsive img-raised" src="https://unsplash.it/400?random&sig=1">
			            		<a href="#"><button class="like btn btn-fab btn-fab-mini btn-round btn-blue"><i class="material-icons">favorite</i></button></a>
			            	</div>

			            	<div class="col-md-3">
			            		<img class="img-rounded img-responsive img-raised" src="https://unsplash.it/400?random&sig=2">
			            		<a href="#"><button class="like btn btn-fab btn-fab-mini btn-round btn-blue"><i class="material-icons">favorite</i></button></a>
			            	</div>

			            	<div class="col-md-3">
			            		<img class="img-rounded img-responsive img-raised" src="https://unsplash.it/400?random&sig=3">
			            		<a href="#"><button class="like btn btn-fab btn-fab-mini btn-round btn-blue"><i class="material-icons">favorite</i></button></a>
			            	</div>
			            </div>
                  <div class="row">
                    <div class="col-md-12 col-xs-12">
                      <h2>How are my dogs?</h2>
                      <blockquote>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut facilisis felis at nunc commodo, a porta odio rutrum. Cras consectetur, augue nec cursus vulputate, risus nulla vulputate augue, vitae congue massa urna sit amet neque.
                        </p>
                        <small>
                          Curabitur lacinia, Dapibus
                        </small>
                      </blockquote>

                      <blockquote>
                        <p>
                          Phasellus neque eros, laoreet sit amet enim ut, vestibulum malesuada sapien. Mauris ultrices sodales sapien a venenatis. Ut gravida nulla at mi efficitur, in laoreet sapien pharetra. Nam id purus elementum, cursus nisl ac, vehicula ligula. Vestibulum ac egestas augue.
                        </p>
                        <small>
                          Richard McClintock, Professor
                        </small>
                      </blockquote>

                      <blockquote>
                        <p>
                          Sed id finibus nisi. Integer a ligula mollis, feugiat ante ac, sagittis elit. Nullam aliquet molestie ligula, in commodo elit. Sed cursus bibendum dictum. Proin dignissim vulputate felis, at rutrum purus maximus ornare. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                        </p>
                        <small>
                          Mauris Semper, Rhoncus
                        </small>
                      </blockquote>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-md-12 col-xs-12">

                    </div>
                  </div>

	            	</div>
	            	<div class="col-md-3">
	            		<h2>Info</h2>
	            		<h3>About me</h3>
	            		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hoc est non modo cor non habere, sed ne palatum quidem.
	            		Videamus animi partes, quarum est conspectus illustrior; Neque enim.
                  <h2>Talk to me!</h2>
                      <div class="card card-signup">
                        <form class="form" method="" action="">
                          <div class="header btn-blue text-center">
                            <div class="social-line">
                              <a href="#" class="btn btn-simple btn-just-icon">
                                <i class="fa fa-500px"></i>
                              </a>
                              <a href="#" class="btn btn-simple btn-just-icon">
                                <i class="fa fa-twitter"></i>
                              </a>
                              <a href="#" class="btn btn-simple btn-just-icon">
                                <i class="fa fa-linkedin"></i>
                              </a>
                            </div>
                          </div>
                          <p class="text-divider">Send me an email!</p>
                          <div class="content">

                            <div class="input-group">
                              <span class="input-group-addon">
                                <i class="material-icons">face</i>
                              </span>
                              <input type="text" class="form-control" placeholder="First Name...">
                            </div>

                            <div class="input-group">
                              <span class="input-group-addon">
                                <i class="material-icons">email</i>
                              </span>
                              <input type="text" class="form-control" placeholder="Email...">
                            </div>

                            <div class="input-group">
                              <span class="input-group-addon">
                                <i class="material-icons">message</i>
                              </span>
                              <textarea placeholder="Message..." class="form-control" rows="3"></textarea>
                            </div>

                          </div>
                          <div class="footer text-center">
                            <a href="#" class="btn btn-simple btn-primary btn-lg text-blue">Send message</a>
                          </div>
                        </form>
                      </div>

								</div>

	            	</div>
	        	</div>
	    	</div>
	    </div>

	</div>

</div>
<% include ./partials/header.ejs %>
