<% include ./partials/header %>
	 <div id="landing-header">
 		<h1>Woof</h1>
		<a href="/login" class="btn btn-lg btn-success">Be a dog lover</a>
    </div>

    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<% include ./partials/footer %>
