<% include ./partials/header %>

<div class = "container" id = "page">
	<div class = "container modal" id = "login">

	<div class = "container" id = "row">
		<div class = "thumbnail rounded" id = "map">
		</div>
	</div>
</div>