<!DOCTYPE html>
<html lang="en">

<head>
    <title>Woof</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div style="height: 200%;" class="container">
        <!-- Trigger the modal with a button -->
        <button  style="display: none;" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"></button>
        <!-- Modal -->
        <div style="width:100%; height: 300%;" class="modal-dialog modal-lg" id="myModal" role="dialog">
            <div style="border: none;" class="modal-dialog">
                <!-- Modal content-->
                <div  style="border: none;" class="modal-content">
                    <div style="border: none;" class="modal-header">
                        <h2 class="modal-title"><center> Sign in or register to continue... </center></h2>
                    </div>
                    <div style="border: none;" class="modal-body">
                        <div class="row">
                            <div class="col-xs-6">
                              Sign in
                            </div>
                            <div style="float: right;" class="col-xs-6">
                              <p style="float: right;"> Register</p>
                            </div>
                        </div>
                    </div>
                    <div  style="border: none; padding-bottom: 80%; padding-left: 80%;" class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
$("btn-lg").trigger('click', function() {});
</script>

</html>