<% include ./partials/header %>
        <% if(!currentUser) {%>
          <div class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                  <p>One fine body&hellip;</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
          <% include ./partials/footer %>
        <%}%>
        <% if(authorized == true){ %>
        <div class="container" id="page">

        <div class="container" id="loading">
        <div class="container" id="loading-content">
              <img src="/public/loading.gif" alt="Loading" title="Loading" />
               <!-- loading gif for the map-->
        </div>
      </div>

        <form align="right" method="get" action="/logout">
            <label class="logoutLblPos">
                <input name="logoutButton" type="submit" id="logoutButton" value="Log out!">
            </label>
        </form>


                    <div class="container col-sm-12">
                        <div class="container col-sm-6" style="width: 50%;" id="mapContainer">
                            <div id="map">
                            </div>
                            <link rel= "stylesheet" href="public/stylesheets/dogPopupStyle.css">
                             <link rel= "stylesheet" href="public/stylesheets/chatStyle.css">
                              <script src = "/public/dogPopup.js"></script>
                              <script src = "/public/chatScript.js"></script>
                              <script src = "/public/stylesheets/gmapsStyle.js"></script>
                            <script>
                            //dummy data.
                            function addDummyDogs(centerLatLng) {
                                let locations = [];
                                for (let i = 0; i < 20; i++)
                                    locations.push({
                                        'lat': centerLatLng['lat'] + Math.random() * 0.05,
                                        'lng': centerLatLng['lng'] + Math.random() * 0.05
                                    });
                                return locations;
                            }

                            function initMap() {
                                //GEO LOCATION
                                //var infoWindow = new google.maps.InfoWindow;

                                // Try HTML5 geolocation.
                                console.log('initmap called.')
                              //  if (navigator.geolocation) {
                    //                navigator.geolocation.getCurrentPosition(function(position) {
                                        var pos = {
                                            lat:  33.6488294,//position.coords.latitude,
                                            lng:-117.84275960000001,//position.coords.longitude
                                        };

                                        socket.emit('POSITION_RECEIVED', pos);
                                        var map = new google.maps.Map(document.getElementById('map'), {
                                            zoom: 13,
                                            center: pos,
                                            styles: gmapsStyle
                                        });
                                        console.log('creating a map here.');
                                        // Create an array of alphabetical characters used to label the markers.
                                        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

                                        // -------------------REAL CODE FOR MAP UPDATING ----------------------------------//
                                        socket.on('DOGS_NEAR_USER', function(dogs) {
                                                  console.log('dogs near user response received.');
                                                  console.log(`no of dogs queried: ${dogs.length}`)
                                                     var markers= dogs.map(function(dog, i) {

                                                                 // console.log(dog.name+' marker added.'+i)
                                                          return new google.maps.Marker({
                                                              position: new google.maps.LatLng(parseFloat(dog.geo['lat'])+ Math.random() * 0.02, parseFloat(dog.geo['lng'])+ Math.random() * 0.02),//TODO: DIFFERENT FORMAT.
                                                              label: labels[i % labels.length],
                                                              dogName:dog.name,
                                                             map:map,//,
                                                              dogPicUrl:dog.picURL,
                                                              dogUrl: dog.url,
                                                              ownerUrl:dog.owner // TODO : get owner uri.
                                                          });
                                                      });


                                                      //

                                                      var infowindows=[];
                                                           // Add a marker clusterer to manage the markers.

                                                           markers.forEach((marker,i)=>{
                                                                     console.log('putting marker '+i)
                                                                   infowindows.push(  new google.maps.InfoWindow({
                                                                                  content:  getdogPopupString(marker.dogName,'public/Dogs/samoyed-puppy.jpg',marker.dogUrl,'/user/'+marker.ownerUrl)
                                                                        }));


                                                                        google.maps.event.addListener(marker, 'click', function() {
                                                                                  infowindows[i].open(map,this);
                                                           });

                                                 });


                                                        var markerCluster = new MarkerClusterer(map, markers, { imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m' });

                                                  //    map.setCenter(pos);
                                                  google.maps.event.addListener(map, 'tilesloaded', function(){
                                                       //document.getElementById('loading').innerHTML = '';
                                                       $(`#loading`).css("display", "none");
                                                      // map.setCenter(pos);
                                                  });

                                        });



                                    }

                                    //, function() {

                              //      });
                              //  } else {

                              //  }

                          //  }


                            //Loading screen for map.

                            </script>
                            <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
                            </script>
                            <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%- gmapsCredential %>&callback=initMap">
                            </script>
                            <script src="/socket.io/socket.io.js"> </script>

                            <script>
                            //--------------Socket Script ---------------------------//
                            var numUsersOnline = "h2";
                              //NOTE: SOCKET CONNECTION IS HARD CODED.
                              <% if (local){%>
                              var socket = io.connect("localhost:8000");

                            <% }else{ %>
                                        var socket = io.connect("169.234.99.106:8000");
                                        <%}%>
                            socket.on('connect', function() {

                            });


                            socket.on('userConnected', function() {

                                //$(numUsersOnline).html();
                            });


                            </script>
                        </div>
                        <!-- CHAT WINDOW -------->
                        <div class="container col-sm-6" style="width:50%;">

                            <div class="chat_window">
                                  <div class="top_menu">
                                      <!--<div class="buttons">
                                          <div class="button close"></div>
                                          <div class="button minimize"></div>
                                          <div class="button maximize"></div>
                                </div>-->
                                      <div class="title">Chat</div>
                                  </div>
                                  <ul class="messages"></ul>
                                  <div class="bottom_wrapper clearfix">
                                      <div class="message_input_wrapper"><input class="message_input" placeholder="Type your message here..." /></div>
                                      <div class="send_message">
                                          <div class="icon"></div>
                                          <div class="text">Send</div>
                                      </div>
                                  </div>
                              </div>
                              <div class="message_template">
                                  <li class="message">
                                      <div class="avatar"></div>
                                      <div class="text_wrapper">
                                          <div class="text"></div>
                                      </div>
                                  </li>
                              </div>
                        </div>
                    </div>
    </div>
    <!-- chat script -->
<script src= '/public/chatScript.js'></script>
<% include ./partials/footer %>

   <% } %>
