<% include ./partials/header %>

    <div class="container col-md-12">
        <div class="col-md-6">
            <div class="container-fixed">
                <h1 class="well">Registration Form</h1>
                <div class="col-lg-12 well">
                    <div class="row">
                        <form>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label style="margin-bottom: -1.5%;">Name</label>
                                    <input type="text" placeholder="Enter Name" name="user[name]" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label style="margin-bottom: 1%;">Address</label>
                                    <input placeholder="Enter Address Here.." class="form-control" name="user[address[houseAddress]]"></input>
                                </div>
                                <div class="form-group">
                                    <label style="margin-bottom: -1.5%;">City</label>
                                    <input type="text" placeholder="Enter City Name Here.." class="form-control" name="user[address[city]">
                                </div>
                                <div class="form-row">
                                    <div class="form-group" style="float :left; width:70% ">
                                        <label style="margin-bottom: -1.5%;">Zip</label>
                                        <input type="text" placeholder="Enter Zip Code Here.." class="form-control" name="user[[address[zip]]">
                                    </div>
                                    <div class="form-group" style="float :left; width: 30%; margin: 20 0 10 0">
                                        <label style="margin-top: -8%, margin-bottom: 2%; ">State &nbsp; &nbsp;</label>
                                        <select class="selectpicker">
                                            <option value="AL">Alabama</option>
                                            <option value="AK">Alaska</option>
                                            <option value="AZ">Arizona</option>
                                            <option value="AR">Arkansas</option>
                                            <option value="CA">California</option>
                                            <option value="CO">Colorado</option>
                                            <option value="CT">Connecticut</option>
                                            <option value="DE">Delaware</option>
                                            <option value="DC">District Of Columbia</option>
                                            <option value="FL">Florida</option>
                                            <option value="GA">Georgia</option>
                                            <option value="HI">Hawaii</option>
                                            <option value="ID">Idaho</option>
                                            <option value="IL">Illinois</option>
                                            <option value="IN">Indiana</option>
                                            <option value="IA">Iowa</option>
                                            <option value="KS">Kansas</option>
                                            <option value="KY">Kentucky</option>
                                            <option value="LA">Louisiana</option>
                                            <option value="ME">Maine</option>
                                            <option value="MD">Maryland</option>
                                            <option value="MA">Massachusetts</option>
                                            <option value="MI">Michigan</option>
                                            <option value="MN">Minnesota</option>
                                            <option value="MS">Mississippi</option>
                                            <option value="MO">Missouri</option>
                                            <option value="MT">Montana</option>
                                            <option value="NE">Nebraska</option>
                                            <option value="NV">Nevada</option>
                                            <option value="NH">New Hampshire</option>
                                            <option value="NJ">New Jersey</option>
                                            <option value="NM">New Mexico</option>
                                            <option value="NY">New York</option>
                                            <option value="NC">North Carolina</option>
                                            <option value="ND">North Dakota</option>
                                            <option value="OH">Ohio</option>
                                            <option value="OK">Oklahoma</option>
                                            <option value="OR">Oregon</option>
                                            <option value="PA">Pennsylvania</option>
                                            <option value="RI">Rhode Island</option>
                                            <option value="SC">South Carolina</option>
                                            <option value="SD">South Dakota</option>
                                            <option value="TN">Tennessee</option>
                                            <option value="TX">Texas</option>
                                            <option value="UT">Utah</option>
                                            <option value="VT">Vermont</option>
                                            <option value="VA">Virginia</option>
                                            <option value="WA">Washington</option>
                                            <option value="WV">West Virginia</option>
                                            <option value="WI">Wisconsin</option>
                                            <option value="WY">Wyoming</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" style="overflow: hidden">
                                    <label style="margin-bottom: -1.5%;">Email Address</label>
                                    <input type="text" placeholder="Enter Email Address Here.." class="form-control" name="user[email]">
                                </div>
                                <div class="form-group">
                                    <label style="margin-bottom: ;">How many dogs do you have?</label>
                                    <input id="nDogs" type="number" placeholder="Enter Number of Dogs Here.." class="form-control" name="user[numberOfDogs]" onkeyup="insertDogsForm()">
                                </div>
                                <ul>
                                </ul>
                                <button type="button" class="btn btn-lg btn-info">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% include ./partials/footer %>

<script>
function insertDogsForm(){
	let numberOfDogs = Number(document.getElementById('nDogs').value);
	console.log(`insert dogs form called back. ${numberOfDogs} dogs`);

          $('ul ').html('');

          for(let x = 1; x <= numberOfDogs; x++){
		$(`ul`).append(` <div id="dogForm_${x}">
                              <h2>Dog ${x} </h2>
                     <%- include ./partials/dogForm %> </div>`);
           }};
</script>
