/*header CSS + animation */

#landing-header
{
    position: relative;
    z-index: 1;

    padding-top: 40vh;

    text-align: center;
}

#landing-header h1
{
    color: #fff;
}

.slideshow
{
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    list-style: none;
}

.slideshow li
{
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    animation: imageAnimation 15s linear infinite;

    opacity: 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.slideshow li:nth-child(1)
{
    background-image: url(../Dogs/5.jpg);
}

.slideshow li:nth-child(2)
{
    animation-delay: 3s;

    background-image: url(../Dogs/cover.png);
}

.slideshow li:nth-child(3)
{
    animation-delay: 6s;

    background-image: url(../Dogs/klee_kai_puppy.jpg);
}

.slideshow li:nth-child(4)
{
    animation-delay: 9s;

    background-image: url(../Dogs/golden_retriever.jpg);
}

.slideshow li:nth-child(5)
{
    animation-delay: 12s;

    background-image: url(../Shih_tzu_SERP.jpg);
}

@keyframes imageAnimation
{
    0%
    {
        animation-timing-function: ease-in;

        opacity: 0;
    }
    10%
    {
        animation-timing-function: ease-out;

        opacity: 1;
    }
    20%
    {
        opacity: 1;
    }
    30%
    {
        opacity: 0;
    }
}


/*Map page CSS*/

#page
{
    width: 100%;
    margin: 0 auto;

    background-color: #7d1935;
}

#mapContainer
{
    width: 80%;
    height: 90%;
    margin: 0 auto;
}

#map
{
    width: 100%;
    height: 100%;
}


/* The Modal (background) */

.modal
{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    display: block;
    /* Full height */
    overflow: auto;

    width: 100%;
    /* Full width */
    height: 100%;
    /* Black w/ opacity */
    padding-top: 60px;
    /* Enable scroll if needed */

    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, .4);
}


/* Modal Content/Box */

#logInterface
{
    border: 3px solid #f1f1f1;
}

.modal-content
{
    width: 80%;
    margin: 5px auto;
    /* 15% from the top and centered */

    border: 1px solid #888;
    background-color: #fefefe;
    /* Could be more or less, depending on screen size */
}

input[type=text],
input[type=password]
{
    display: inline-block;

    box-sizing: border-box;
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;

    border: 1px solid #ccc;
}

.form-group
{
    width: 100%;
    padding: 16px;
}


/* Set a style for all buttons */

button
{
    width: 100%;
    margin: 8px 0;
    padding: 14px 20px;

    cursor: pointer;

    color: white;
    border: none;
    background-color: #4caf50;
}


/*effect to button*/

button:hover
{
    opacity: .8;
}

.register
{
    margin: 0 auto;
    padding-top: 16px;

    color: #fff;
}

a:hover
{
    text-decoration: underline;

    color: grey;
}


/* Add Zoom Animation */

.animate
{
    -webkit-animation: animatezoom .6s;
            animation: animatezoom .6s;
}

@-webkit-keyframes animatezoom
{
    from
    {
        -webkit-transform: scale(0);
    }
    to
    {
        -webkit-transform: scale(1);
    }
}

@keyframes animatezoom
{
    from
    {
        transform: scale(0);
    }
    to
    {
        transform: scale(1);
    }
}
